<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Usuarios</title>
</head>
<body>

    <form action="" method="POST">{% csrf_token %}
        <p>Nombre Usuario :<input type="text" name="username"></p>
        <p>Password      :<input type="password" name="password"></p>
        <p><input type="submit" value="ingresar"></p>




        <p><input type="submit" value="Cliente"></p>


    </form>

    <a href="/recuperaClave/">olvide contraseña</a>
    <br>
    <a class="nav-link letrasNegras" href="{% url 'index' %}">Visitas</a>
</body>
</html>