<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/estilos.css">
    <title>Title</title>
</head>
<body>


  {% if validlink %}
    <h3>cambio de clave</h3>
    <form method="post">
      {% csrf_token %}

      {{ form.new_password1.errors }}
      <label for="id_new_password1">Nueva contraseña :</label>
      {{ form.new_password1 }}

      {{ form.new_password2.errors }}
      <label for="id_new_password2">Confirme contraseña :</label> {{ form.new_password2 }}
      <input type="submit" value="cambiar mi contraseña" />
    </form>

    {% else %}
    <p>
      <h1 class="text-center" > Enlace invalido.</h1>
  {% endif %}

  <ul>
    <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
    <li>Su contraseña debe contener al menos 8 caracteres.</li>
    <li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
    <li>Su contraseña no puede ser completamente numérica..</li>
  </ul>



</body>
</html>